*.log
.idea
/vendor/
/.vagrant/
httpdocs/wp/*
!httpdocs/wp/wp-config.php


httpdocs/content/plugins/*
!httpdocs/content/plugins/.gitkeep
!httpdocs/content/plugins/WpSkeleton

httpdocs/content/themes/*
!httpdocs/content/themes/.gitkeep
!httpdocs/content/themes/WpSkeleton

httpdocs/content/uploads/*
!httpdocs/content/uploads/.gitkeep
